/*
	Theme Name: Shalva
	Theme URI: #
	Description: The Shalva theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
	Version: 1.6
	Author: Shalva
	Author URI:#
*/
/* common */
* { margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; }
img, fieldset { border: none; }
a { text-decoration: none; outline: none; color: #000000 }
:focus { outline: none; }
html, body { font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; background: #9c8eac; text-size-adjust : none; -webkit-text-size-adjust : none; -moz-text-size-adjust : none; -o-text-size-adjust : none; -ms-text-size-adjust : none }
input[type="text"], input[type="email"], input[type="tel"], select, textarea { font-family: 'Arial', sans-serif; color: #3d4c53; -webkit-appearance: none; border-radius: 0px; font-weight: normal }
img { border: 0px; display: block; }
a{ color:#48c8cb; font-family: 'Arial', sans-serif; outline: none;}
 input { outline: none; color: #000; font-family: 'Arial', sans-serif; }
a:hover { color: #48c8cb; text-decoration: underline }
.clear { clear: both; height: 0px; overflow: hidden }
p { font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000; padding-bottom: 25px;  }
p small { font-family: 'Arial', sans-serif; font-size: 13px; line-height: 16px; padding-bottom: 0px; color: #3d4c53; }
h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; }
h1 { font-size: 24px; font-family: 'Arial'; font-weight: 700; color: #391d59; line-height: 36px; }
h2 { font-size: 22px; font-family: 'Arial'; font-weight: 700; color: #391d59; line-height: 26px; }
h3 { font-size: 18px; font-family: 'Arial'; font-weight: 700; color: #391d59; line-height: 21px; }
h4 { font-size: 16px; font-family: 'Arial'; font-weight: 700; color: #391d59; line-height: 23px; }
h5 { font-size: 14px; font-family: 'Arial'; font-weight: 700; color: #391d59; line-height: 20px; }
h6 { font-size: 12px; font-family: 'Arial'; font-weight: 400; color: #000000; line-height: 19px; }
ul { margin-bottom: 10px; }
ul { list-style-position: inside; }
ol { list-style: decimal; list-style-position: inside; padding: 0px 0px 20px 0; margin: 0 0 0 25px }
li {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: #000000;  }
a.tel { cursor: default; color: #000; text-decoration: none; }
a.tel:hover { text-decoration: none !important }
.toggleMenu { display: none; }
img { max-width: 100%; height: auto }
.centering { max-width: 989px; margin: 0 auto; }
a.mobilemenu { display: none }
a.close { display: none }
hr { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #fff; border-image: none; border-style: dotted none none; border-width: 2px 0 0; display: block; height: 4px; padding-bottom: 26px; margin-top: 5px; }
input, select, textarea { border-radius: 0; border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; appearance: normal; }
/* Alignment */
.alignleft, .alignnone { float: left; margin-right: 1em !important; margin-top: 5px; }
.alignright { float: right; margin-left: 1em !important; margin-top: 5px; }
.aligncenter { clear: both; display: block; margin: 10px auto; }
.wp-caption { border: 1px solid #7b7b7b; }
.wp-caption img { margin: 5px auto 0px auto; display: block }
.wp-caption p { text-align: center; padding: 3px 0 !important; font-size: 11px; }
#wrapper { width: 100%; position: relative; min-height: 100%; background: url("images/wrapperbg.png") no-repeat top center;   }
/* header container */
#headerCntr { width: 100%; background: #fff; padding-top: 66px;     }
#headerCntr.sticky .menuBox{ position: fixed; background: #fff; z-index:10}
	/* menu box */
	
	
	.menuBox { position: fixed; background: #fff; z-index:10; width: 100%; left:0px; top:0; padding: 18px 0 0 0; border-bottom: 2px solid #a38cc3;  }
	.menuBox ul { margin: 0px; list-style: none; width:100%; }
	.menuBox ul li { float: left; margin: 0 19px; font-size: 22px; padding-bottom: 19px; line-height: 26px;  text-transform: capitalize; letter-spacing: -1px; position: relative;    }
	.menuBox ul li::before { width: 4px; height: 4px; background: #bcbcbc; border-radius: 50%; -webkit-border-radius: 50%; content:""; position: absolute; left: -21px; top: 12px;	}
	.menuBox ul li:first-child::before { display: none}
	.menuBox ul li a { color: #381d59; font-family: 'PT Sans', sans-serif;}
	.menuBox ul li a:hover , .menuBox ul li:hover >  a { color: #48c8cb; text-decoration: none}
	.menuBox ul ul { position: absolute; left:-25px; top:100%; width: 232px; display: none; z-index:9999; border-bottom: 13px solid #48c8cb }
	.menuBox ul ul li { background: #9c8eac; margin: 0px; display: block; float: none; width: 100%; padding: 10px 30px; font-size: 18px; line-height: 22px; border-bottom: 2px solid #fff; letter-spacing:0px; text-align:left  }
	.menuBox ul ul li:last-child { border-bottom: none}
	.menuBox ul ul li::before { display: none}
	.menuBox ul ul li a { display: block; color: #fff; font-family: Arial, Helvetica, sans-serif }
	.menuBox ul li:hover ul { display: block}
	.menuBox ul ul li:hover a { color: #391d59; font-weight: bold}
	.menuBox ul li.current-menu-item  > a { color: #48c8cb}
	.menuBox ul li.current-menu-ancestor  > a { color: #48c8cb}
	.menuBox ul li li.current-menu-item a { color: #391d59; font-weight: bold}
	
	
	
	
	
	
	
	/* logo box */
	.logoBox { width: 100%; position: relative; overflow: hidden; padding: 13px 0 8px; border-bottom: 9px solid #48c8cb  }
	.logoBox .logo { margin-left: 15px; display: inline-block} 
	.logoBox .call_sec { float: right; margin-right: 29px; margin-top: 10px;}
	.logoBox .call_sec .widgettitle { display: none}
	.logoBox .call_sec .widget_text { float: left}
	.logoBox .call_sec .call p , .logoBox .call_sec .call a  { font-size: 19px; line-height: 25px; color: #381d59; font-family: 'PT Sans', sans-serif; font-weight: 700}
	.logoBox .call_sec .click { background: #ce0058; border-radius: 10px; -webkit-border-radius: 10px; -ms-border-radius: 10px; color: #fff; padding: 5px 9px; text-align: center; margin-top: 7px;}
	.logoBox .call_sec .click:hover { background: #a30146}
	.logoBox .call_sec .click:hover a { text-decoration: none}
	.logoBox .call_sec .click a { color: #fff; padding-bottom: 0px; font-family: 'Roboto Condensed', sans-serif; font-size: 13px; line-height: 15px; display: block }
	.logoBox .call_sec .click a span { font-weight: 700; text-transform: uppercase; display:inline-block}
	.logoBox .call_sec .call { margin-right: 132px; text-align: center }
	
	/* banner container */
	#bannerCntr { width: 100%; overflow: hidden }
	
	#bannerCntr .centering { position: relative; overflow: hidden}
	
	
	
	#bannerCntr .flexslider.loading::before { width: 100%; height: 100%; background: #fff url("images/load.gif") no-repeat center center; z-index:100; left:0; top: 0px; content:""; position: absolute; display: block  }
	#bannerCntr .flexslider {  width: 50.75%; height: 100%;  float: left; min-height: 334px;  position: relative; }
	#bannerCntr .flexslider ul { margin: 0px !important; overflow: hidden}
	#bannerCntr .flexslider ul.slides li  { list-style: none; position: relative; background: #e3daed; overflow: hidden;  }
	#bannerCntr .flex-direction-nav { display: none !important}
	#bannerCntr .flexslider.loading ul.slides li { display: none}
	#bannerCntr .flexslider.loading ul.slides li:first-child { display: block}
	
	
	.banner_image { width: 100%; height: 100%;  float: left; min-height: 334px; }
	.banner_text { width: 49.25%; padding:47px 45px 19px 40px;  background: #e3daed; float: left  }
	
	
	.banner_text h2 { font-size: 39px; line-height: 40px;  font-family: 'Roboto Condensed', sans-serif; color: #391d59; font-weight: 700; padding-bottom:20px }
	.banner_text p {font-size: 24px; line-height: 26px;  font-family: 'Roboto Condensed', sans-serif; color: #391d59; font-weight: 600}
	.banner_text em { font-size: 21px; line-height: 25px;  font-family: 'Roboto Condensed', sans-serif; color: #391d59; font-style: italic; font-weight: 700}
/* button container	*/
#buttonCntr { width: 100%; position: relative; overflow: hidden; background: #fff; padding: 34px;}
	
	/* button box */
	.buttonBox { width: 100%; position: relative; overflow: hidden; margin: 0 0 45px 0; }
	
	.buttonBox ul { text-align: center; margin: 0px; width: auto; margin: 0 -62.5px; list-style: none}
	.buttonBox .button { width: auto; min-width: 225px; margin: 0 60px; height: 60px; line-height: 60px; font-size: 24px; background: #391d59; text-transform:capitalize; border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; text-align: center; transition: all 0.3s; -webkit-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; display: inline-block}
	.buttonBox .button a { font-family:Verdana, Geneva, sans-serif; font-weight:bold; display: block; color: #fff; }
	.buttonBox .button a:hover { text-decoration: none}
	.buttonBox .button:hover { background: #6f6f94}
	
	
	
	
	
	
	
	
	/* btn left section */
	.btn_left_sec { width: 60.17%; float: left;}
	.btn_left_sec p { letter-spacing: 0.7px;}
	
	
	
	/* btn right section */
	
	.btn_right_sec { width: 33.7%; float: right; border-left : 2px solid #9f8db0;}
	.btn_right_sec .widgettitle { padding-left: 28px;  color: #9c8eac; padding-bottom:10px;} 
	.btn_right_sec ul { margin: 0px; overflow: hidden}
	.btn_right_sec ul li { padding: 9px 4px 9px 28px; border-bottom : 2px solid #9f8db0; margin-bottom:0px; }
	.btn_right_sec ul li:last-child { border-bottom: none !important}
	.btn_right_sec ul li h3.rpwe-title { font-size: 14px !important; line-height: 19px !important; font-family: Arial, Helvetica, sans-serif; color: #000000 !important; font-weight: bold; padding-bottom: 0px; }
	.btn_right_sec ul li a { color: #000; text-decoration:underline}
	.btn_right_sec ul li a:hover{ text-decoration:none}
	.btn_right_sec  .rpwe-time { font-size: 14px !important; line-height: 21px !important; color: #000 !important}
	
	#footerCntr { width: 100%; position: relative; overflow: hidden}		
			
		
	/* call box */
	.callBox .textwidget { width: 100%; position: relative; overflow: hidden; background: #48c8cb; }
	.callBox .textwidget ul { margin: 0px; list-style: none; list-style-type: none; padding: 17px 35px 10px 35px; width: 100%; overflow: hidden;  }
	.callBox .textwidget ul li , .callBox .textwidget ul li a {font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 16px; line-height: 20px; color: #fff; display:inline-block; vertical-align: middle} 
	 .callBox .textwidget ul li a img { display:inline-block; vertical-align: middle; margin-left: 5px;}
	
	
	.callBox .textwidget ul li { float: left; width: 33.33%;text-align: center}
	.callBox .textwidget ul li:first-child  { text-align: left}
	.callBox .textwidget ul li:last-child  { text-align: right}
	.callBox .textwidget ul li a:hover img { opacity:0.7}
	.callBox  .execphpwidget {background: #fff; }
	.callBox .widget_execphp ul { margin: 0px; list-style: none; list-style-type: none; padding: 10px 0px; width: 100%; overflow: hidden;  }
	
	
	.callBox .copyright { padding-left: 35px; padding-right: 35px; overflow: hidden}
	
	.callBox .widget_execphp ul li:first-child  { text-align: left}
	.callBox .widget_execphp ul li:last-child  { text-align: right}
	
	.callBox .widget_execphp ul li.copy , .callBox .widget_execphp ul li.copy a { font-size: 11px; font-family:Verdana, Geneva, sans-serif; font-weight: bold; color: #827496; line-height:19px; vertical-align:top}
	.callBox .link {margin-bottom: 10px; margin-top:15px; width: 100%; overflow: hidden}
	.callBox .link .footerimg { float: right; display: none}
	.home .callBox .link .footerimg { display: block; }
	
	 
	.callBox .url { float: left; font-size: 11px; font-family:Verdana, Geneva, sans-serif; font-weight: normal; color: #827496; padding-bottom:0; line-height: 15px; padding-top:3px; }
	.callBox .url a { font-size: 11px; font-family:Verdana, Geneva, sans-serif; font-weight: normal; color: #827496; }
	
	
	
	
	
	ul.footer_text img { display:inline-block;  vertical-align:middle; margin-right: 10px}
	.callBox .url.last { text-align: center; padding-top:0}
	
	.callBox .widget_execphp ul li { float: left; width: 33.33%;text-align: center}
	.callBox .url.last span { display: inline; vertical-align: middle}
.callBox .widget_execphp ul li , .callBox .widget_execphp ul li a {font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 16px; line-height: 20px; color: #6c5e80; display:inline-block; } 


.callBox .widget_execphp ul li.last { width: 66.67%}
	
	
		
		
		
		
		
		
		
	/* content container */
	#contentCntr { width: 100%; position: relative; overflow: hidden; background: #fff;  }
	 
	
	
	 
	 
	 /* left contianer */
	 #leftCntr { width: 31.34%; float: left }
	.titleBox  { width: 100%; }
	.titleBox  ul.first li { padding: 11px 25px 7px; font-size: 18px; line-height: 22px; border-bottom: 2px solid #cfc6d8;  font-family:Arial, Helvetica, sans-serif; font-weight: bold}
	.titleBox  ul { list-style: none; list-style-type: none}
	.titleBox  ul li { width: 100%; font-size: 18px; line-height: 22px; border-bottom: 2px solid #cfc6d8; padding: 10px 25px; font-family:Arial, Helvetica, sans-serif; font-weight: bold }
	.titleBox  ul li a { color: #391d59}
	.titleBox  ul li a:hover { text-decoration: none; color: #48c8cb}
	.titleBox  ul li:last-child { border-bottom: none}
	.titleBox  ul li.current-menu-item a{ text-decoration: none; color: #48c8cb}
	/* right container */
	#rightCntr { width: 65%; float: right; margin-top: 30px; padding-right: 35px;}
	#rightCntr h3 { padding-bottom: 5px;}
	#rightCntr.fullwidth { width: 100%; float: none; padding: 0 45px;}	
	.postBox { width: 100%; margin: 30px 0 50px 0;}
	.postloop { padding: 20px 0; border-bottom: 1px solid #9f8db0}
	.postloop:first-child { padding-top:0px;} 
	.postloop h4.title { padding-bottom: 0px; font-family:Verdana, Geneva, sans-serif; letter-spacing: 1.5px; font-weight: 400}
	.postloop h4.title a  {  text-decoration: underline;font-family:Verdana, Geneva, sans-serif; color: #000000}
	.postloop h4.title a:hover { text-decoration: none}
	.postloop .meta span { font-size: 15px; line-height: 18px; letter-spacing: 1.5px;}
	
	
	.single .postBox { margin-top: 51px;}
	.single .postloop { border: none; padding-bottom: 34px;}
	.single p { font-family:Verdana, Geneva, sans-serif}
	.single h3 { font-weight: bold}
	.single .singletitle { padding-bottom: 40px;}
	
	.singlepostnav { width: 100%; position: relative; overflow: hidden; margin-bottom:236px;}
	.singlepostnav .prev { float: left;color: #6c5e80;font-family: Verdana,Geneva,sans-serif;font-size: 17px;font-weight: bold;line-height: 20px; letter-spacing: -1.2px;}
	.singlepostnav .prev:hover { color:#c9c9c9}
	.singlepostnav .next { float: right;color: #6c5e80;font-family: Verdana,Geneva,sans-serif;font-size: 17px;font-weight: bold;line-height: 20px; letter-spacing: -1.2px;}
	.singlepostnav .next:hover { color:#c9c9c9}
	
	/* alert container  */
	
	#alertCntr { width: 615px; margin: 0 auto; display: none}
	#alertCntr .title { height: 61px;  background: #391d59; display: block; text-align: center; border-bottom: 12px solid #48c8cb}
	#alertCntr h1 { font-size: 24px; line-height:  46px; color: #ffffff; padding-bottom:0px; }
	#alertCntr .content { width: 100%; border: 1px solid #391d59; background: #fff;	border-top: none; padding: 25px 50px 25px 25px  } 	
	#alertCntr .content p , #alertCntr .content a { font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 12px; line-height: 24px; color: #000;}
	 #alertCntr .content a:hover { text-decoration: underline }
	#alertCntr .content li { position: relative; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 12px; line-height: 24px; color: #000;}
	#alertCntr .content ul { list-style: none; list-style-type: none; margin-left: 35px; margin-bottom: 20px;}
	#alertCntr .content li::before { position: absolute; width: 3px; height: 3px; background: #000; display: block; left: -10px; top: 11px; content: ""; border-radius: 50%; -webkit-border-radius: 50%; -ms-border-radius: 50%;}
	
	#alertCntr .close { width: 100%; overflow: hidden; margin-top: 30px; }
	#alertCntr .close img{ float: left}
	a#closebtnn { float: right; font-size: 23px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; color: #000000; position: absolute; right: 25px;  z-index:10; bottom: 28px; background: none !important  }
	a#closebtnn span { color: #48c8cb}
	a#closebtnn:hover { text-decoration: none}
 a#closebtnn small {font-size: 23px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; color: #000000;}
	a#closebtnn:hover span { color: #3cacaf}
	a#closebtnn:hover small { cursor: default}
	.fancybox-skin { padding: 0px !important;}
	.fancybox-wrap { width: 615px !important}
	#errorCntr { padding: 100px 0; text-align: center}
.wp-paginate { margin: 80px 0 30px 0 !important}
.wp-paginate a , .wp-paginate .current{ padding:8px 11px !important}
.wp-paginate .current { background: #6e6d72 !important; color: #fff !important; border-color: #6e6d72 !important}
.wp-paginate a {  background: #e7e6e9 !important; color: #000 !important; border-color: #e7e6e9 !important}
.wp-paginate a.prev , .wp-paginate a.next { background: none !important; border: none !important; color: #000 !important}
.wp-paginate .next { margin-left: 5px;}
.wp-paginate .prev { margin-right: 5px;}
#rightCntr ul{ list-style:none; margin: 0 0 20px 25px}
#rightCntr ul li{ padding-left:10px; position:relative}
#rightCntr ul li:after{ content:''; width:4px; height:4px; background:#000; position:absolute; left:0px; top:10px; border-radius:50%}
#rightCntr h1{ font-size:18px; line-height:23px; padding-bottom:30px}
a.click{ color:#48c8cb; font-weight:bold}
#rightCntr h3.singletitle{ padding-bottom:43px}

/*19-05-2016*/
.rpwe-time { display:none}
#rightCntr h3.singletitle a{color:#391d59}






