@media screen and (max-width: 1024px) {
	
a#closebtnn small { font-size: 20px; line-height: 22px; display:none}	


}




@media screen and (max-width: 1020px) {

.centering { padding: 0 15px; }

.menuBox ul li { font-size: 20px; margin: 0 22px; }

.menuBox ul li::before { left: -21px; }

.buttonBox .button { margin: 0 20px; }

.singlepostnav { margin-bottom: 150px; }



}

 @media screen and (max-width: 991px) {

.menuBox ul li { font-size: 20px; margin: 0 5px; }

.menuBox ul li::before { left: -9px; }


.logoBox .call_sec .call { margin-right: 20px; margin-top: 5px; }

.logoBox .call_sec { margin-right: 0px; }

.logoBox .call_sec .call p, .logoBox .call_sec .call a { font-size: 17px; line-height: 23px; }

.banner_image { min-height: 316px; }
#bannerCntr .flexslider { min-height: 316px; }
.banner_text { padding: 41px 45px 10px 40px; min-height: 316px; }

.banner_text h2 { font-size: 33px; line-height: 36px; padding-bottom: 10px; }

.banner_text p { padding-bottom: 10px; }

.buttonBox .button { margin: 0 20px; padding: 0 15px; min-width: 170px; }

#buttonCntr { padding: 30px; }

.single .postBox { margin-top: 30px; }

.singlepostnav { margin-bottom: 130px; }

.callBox .textwidget ul li, .callBox .textwidget ul li a { font-size: 15px; }

.callBox .widget_execphp ul li, .callBox .widget_execphp ul li a { font-size: 15px; }
.buttonBox .button{ font-size:17px; line-height:46px; height:50px}
.menuBox ul{ text-align:center}
.menuBox ul li{ float:none; display:inline-block}
.callBox .widget_execphp ul li.copy, .callBox .widget_execphp ul li.copy a{ font-size:9px}
a#closebtnn small { font-size: 20px; line-height: 22px; display:none}





}

 @media screen and (max-width: 767px) {
.callBox .link { margin-top:0}
.callBox .url { float: none; margin: auto}
.home .callBox .link .footerimg { float: none; margin: auto; display:inline-block}

.btn_left_sec, .btn_right_sec { width: 100%; float: none }

.callBox .textwidget ul li, .callBox .textwidget ul li:first-child, .callBox .textwidget ul li:last-child { width: 100%; float: none; text-align: left; margin-bottom: 15px; }

.callBox .widget_execphp ul li, .callBox .widget_execphp ul li:first-child, .callBox .widget_execphp ul li:last-child { width: 100%; float: none; text-align: left; margin-bottom: 10px; }

.banner_text p { font-size: 18px; line-height: 22px; }

.banner_text h2 { font-size: 25px; line-height: 25px; }

.banner_image , #bannerCntr .flexslider , .banner_text{ min-height: 253px; }

.buttonBox .button { margin: 0 10px; min-width: 150px; font-size: 17px; }

.buttonBox { margin-bottom: 25px }

#headerCntr { padding-top: 0 }

#wrapper { padding-top: 0px; }

.logoBox .call_sec { width: 100%; float: none; margin: 0px; text-align: center; overflow: hidden; }

.logoBox .call_sec .widget_text { float: none; width: 50%; display: inline-block }

.logoBox .call_sec .call { text-align: left }

.logoBox .logo { width: 150px; margin: 0 auto; display: block }

.logoBox .logo img { display: inline-block; margin: 0 auto }

#leftCntr { width: 100%; float: none }

#rightCntr { width: 100%; overflow: hidden; float: none; padding-right:0px; }

#contentCntr { padding: 15px; }

#rightCntr.fullwidth { margin-top: 0px; padding: 0 }

.postBox { margin: 0 0 20px 0 }

.postloop { padding: 15px 0 }

.single .postBox { margin-top: 0px; }

.singlepostnav { margin-bottom: 30px; }

#alertCntr { width: 500px;  }

.fancybox-wrap { width: 500px !important ;}




#alertCntr .content ul { margin-left: 10px; margin-bottom: 10px; }

#alertCntr .close { margin-top: 0px; }



a#closebtnn { font-size: 20px; line-height: 22px; background:#fff!important; width:99%; left:1px; text-align:center; bottom:2px;  }
a#closebtnn small { font-size: 20px; line-height: 22px; display:none}


#alertCntr .content p { padding-bottom: 10px; }

#alertCntr h1 { font-size: 22px; }

.callBox .widget_execphp ul { padding-bottom: 0 ; text-align:center}
.callBox .widget_execphp ul li, .callBox .widget_execphp ul li:first-child, .callBox .widget_execphp ul li:last-child{ float:none; display: block; text-align:center; width:100%}

#errorCntr { padding: 50px 0 }

#back-to-top.show { opacity: 1; }

#back-to-top { background: url(../images/back_top.png) no-repeat 0 0; width: 40px; height: 40px; display: block; position: fixed; bottom: 7%; right: 30px; z-index: 99999; opacity: 0; border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; }


.callBox .textwidget ul li, .callBox .textwidget ul li:first-child, .callBox .textwidget ul li:last-child{ text-align:center}

#alertCntr .content{ padding-bottom:40px}








.menuBox { position: static; border-bottom: none; padding-top:0 }









header a.mobilemenu { padding: 0 57px 0 0; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; width: 100%; display: block; text-decoration: none; font-weight: bold; position: relative; left: 0px; top: 0px; line-height: 40px; text-transform: uppercase; text-align: right; color: #fff; font-size: 16px; background: #9c8eac; }

header a.mobilemenu:before, header a.mobilemenu:after, header a.mobilemenu span { width: 35px; height: 3px; display: block; position: absolute; right: 15px; top: 10px; content: ""; background: #fff; }

header a.mobilemenu:after { top: auto; bottom: 10px; }

header a.mobilemenu span { top: 18px; }

.mm-opened a.close { display: block; }

header a.close { width: 50px; height: 20px; font-size: 0px; position: absolute; left: 20px; top: 9px; z-index: 8888; }

header a.close:before, header a.close:after { width: 30px; height: 3px; display: block; position: absolute; left: 0px; top: 10px; content: ""; background: #fff; -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); }

header a.close:after { -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); }

.mm-menu { background: #645674; }

.mm-listview { font-size: 16px }

header nav ul { display: none; text-align: left }

.mm-listview > li > a { font-size: 16px; }

.mm-listview > li > a, .mm-listview > li > span { color: #fff; text-transform: uppercase }

.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a { color: #fff; font-size: 18px; }

.mm-listview a:hover, .mm-listview li.active a { color: #fff }

.mm-menu li:hover a { background: #48c8cb}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span, .mm-menu li.current-menu-item > a, .mm-menu li.current-page-parent > a { background: #48c8cb}

.mm-navbar .mm-title { text-transform: uppercase }





.wp-paginate { margin-top: 50px !important}

.titleBox ul li { padding: 5px 15px 5px 0}

.titleBox ul li:last-child { border-bottom: 2px solid #cfc6d8}
.btn_right_sec{ border:none}
.btn_right_sec .widgettitle { padding-left:0}
.btn_right_sec ul li{ padding:9px 12px 9px 0}
.mm-menu .mm-listview > li .mm-prev::before, .mm-menu .mm-listview > li .mm-next::after, .mm-menu .mm-listview > li .mm-arrow::after{ border-color:#fff}
.mm-menu .mm-listview > li .mm-prev::after, .mm-menu .mm-listview > li .mm-next::before{border-color:#fff}
.mm-menu .mm-navbar .mm-btn::before, .mm-menu .mm-navbar .mm-btn::after{border-color:#fff}
.callBox .copyright{ width:100%; text-align:center}
#rightCntr h3.singletitle{ padding-bottom:18px}
#rightCntr h1{ padding-bottom:18px}



}

 @media screen and (max-width: 639px) {

.banner_image { width: 100%; float: none; min-height: 200px }
#bannerCntr .flexslider  { width: 100%; float: none; min-height: 200px }


.banner_text { width: 100%; float: none; padding: 10px 20px; min-height:0 }

.buttonBox .button { width: 250px; margin: 10px auto; display: block; height: 50px; line-height: 50px; font-size: 17px; }

.buttonBox { margin-bottom: 20px; }

.banner_text p { padding-bottom: 0 }

#buttonCntr { padding: 15px; }

.logoBox .call_sec .call p, .logoBox .call_sec .call a { font-size: 16px; line-height: 22px; }

.callBox .textwidget ul li, .callBox .textwidget ul li a { font-size: 15px; line-height: 18px; }

.callBox .copyright { padding: 0 15px; }

.callBox .textwidget ul { padding: 15px; }

#alertCntr { width: 430px; }

.fancybox-wrap { width: 430px !important }


}

 @media screen and (max-width: 479px) {

.home .callBox .link .footerimg { width: 200px;}
.logoBox .call_sec .widget_text { width: 100%; text-align: center }

.logoBox .call_sec .call { text-align: center; margin-right: 0; margin-top: 10px; }

.logoBox .call_sec .call p { padding-bottom: 0 }

.callBox .widget_execphp ul li.copy, .callBox .widget_execphp ul li.copy a { font-size: 10px; }

.alignleft, .alignnone, .alignright, .aligncenter { float: none; margin: 0 0 10px 0 !important; max-width: 100%; height: auto; display: block; clear: both; width: 100% }

.wp-caption { width: 98% !important; }

.wp-caption.alignleft, .wp-caption.alignnone, .wp-caption.lignright, .wp-caption.aligncenter { float: none; margin: 0 0 10px 0 !important; }

.wp-caption.alignleft img, .wp-caption.alignnone img, .wp-caption.lignright img, .wp-caption.aligncenter img { max-width: 96%; height: auto; width: 96%; }

.wp-caption img { width: 96%; }

.wp-caption p { padding: 3px !important }

#alertCntr { width: 280px; }

.fancybox-wrap { width: 280px !important }

a#closebtnn { font-size: 16px; bottom: 0px;}
a#closebtnn small { font-size: 16px;}
#alertCntr .close img { width: 80px;}


#alertCntr h1 { line-height: 37px; font-size: 20px;}

#alertCntr .title { height: 50px;}

#alertCntr .content { padding: 15px; padding-bottom:30px}

}

 @media only screen and (min-width: 768px) {

.mm-menu.mm-current { display: none !important; }

html.mm-opening .mm-slideout { transform: translate(0px, 0px) !important; -webkit-transform: translate(0px, 0px) !important; }

html.mm-opened { overflow: visible !important; }

html.mm-opened body { overflow: visible !important; }

#mm-blocker { display: none !important; }



}

